# Binaries for programs and plugins
*.exe
tilbit
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore data dir cause it might have private TILs
data/

# Dependency directories (remove the comment below to include it)
# vendor/
